<a href="https://colab.research.google.com/github/to-sah-be-nza/FreeCodeCamp-Pandas-Real-Life-Example/blob/master/Tp1_A%CC%83%C2%A9noncA%CC%83%C2%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TD 1: Environnement de programmation et premiers pas avec Python

---
## 2.Utilisation du notebook Python

Dans un premier temps, nous allons voir comment utiliser le notebook. Le notebook permet d'écrire du code que l'on peut évaluer au fur et à mesure. Plus tard, nous programmerons dans un fichier texte, en utilisant l'éditeur VisualStudioCode (VSCode dans la suite) et l'environnement qu'il fournit pour écrire des programmes en Python.

Un notebook contient des *cellules* qui sont de deux sortes: il y a des cellules de texte écrites dans un langage de mise en forme de texte appelé *Markdown*, et les cellules de code que vous allez remplir. Les cellules de code sont sur fond gris et un triangle gris apparait sur la gauche de la cellule lorsque votre souris la survole.

1. Dans la cellule de code suivante, tapez `1 + 1` puis évaluez la cellule en cliquant sur le triangle gris situé à gauche de la cellule.

In [1]:
1+1

2

2. Cliquez de nouveau sur cette cellule et appuyez sur les touches `SHIFT + ENTREE` du clavier.

**Note**: Cela évalue également la cellule de code. Remarquez le numéro qui s'affiche dans les crochets à gauche de la cellule de code : c'est *l'ordre d'évaluation* de la cellule.

3. Dans la cellule suivante, affectez le résultat de l'expression `1 + 1` à une variable notée `a`. Bien entendu, évaluez la cellule (on ne le rappellera pas systématiquement).

In [2]:
a = 2

4. Remarquez que l'évaluation de cette cellule ne génère aucun *texte  en sortie*. Pour connaître la valeur de la variable `a`, tapez le nom de la variable dans la cellule suivante.

In [4]:
a

2

5. Testez maintenant l'expression `print(a)`.

In [5]:
print (a)

2

Le résultat est identique. La première méthode fonctionne dans le notebook, mais pas dans un programme Python. C'est pourquoi il vaut mieux utiliser la deuxième méthode qui repose sur l'utilisation de la *fonction native* `print()`. L'ensemble de ces fonctions est [disponible ici](https://docs.python.org/fr/3.5/library/functions.html).

6. Augmentez de 1 la valeur de `a`. L'expression doit donner le bon résultat quelle que soit la valeur de la variable.

In [6]:
a += 1

Et vérifiez en affichant la valeur de `a`.

In [7]:
print (a)

3

Dans la cellule suivante, affectez la valeur 5 à la variable `a` et la valeur 2 à la variable `b`, puis afficher les 2 valeurs avec l'expression `print(a, b)`.

In [9]:
a = 5
b = 2
print (a, b)

5 2

15. Ecrivez le code qui permet d'échanger la valeur des variables `a` et `b`. Puis affichez leurs valeurs.

In [11]:
a = 5
b = 2
c = a
a = b
b = c
print (a, b)

2 5

16. Pour enrichir l'affichage, recopiez l'expression `print("a vaut", a, "et b vaut", b)`.

In [13]:
print ("a vaut 2 ", " et b vaut 5")

a vaut 2   et b vaut 5

17.  Recopiez l'affectation suivante `a = "hello world"`, puis affichez la valeur de `a`.

In [18]:
a = "hello world"
print (a)

hello world

**Note**: la variable `a` contenait un entier, et maintenant une chaîne de caractères. En Python les variables ont un *type dynamique* contrairement au type statique où le type des variables est défini une fois pour toutes. De plus ce typage est *implicite*, c'est-à-dire qu'il est déterminé par les objets auxquels les variables font référence sans avoir besoin de l'écrire explicitement.

18. Afficher de nouveau la valeur de `a` sans utiliser la fonction `print`. Que constatez-vous?

19. Avant de passer à la suite, sauvegardez votre notebook.


-------------------
## 3.Types de données
En Python, toute variable ou expression possède un *type* qui définit, entre autres, les opérations que l'on peut lui  appliquer. Parmi les types natifs on peut citer les nombres entiers, les nombres flottants, les chaînes de caractères (string en anglais) et les booléens (Vrai ou Faux).


1. Prédisez le type de chacune des expressions suivantes. Vérifiez le à l'aide de la fonction `type()`:

* `5`
* `5.0`
* `"5"`
* `-5`
* `5 / 2`
* `5 // 2`
* ` 5 == 2  `
* `5 = 2`

In [21]:
print(type(5))
print(type(5.0))
print(type("5"))
print(type(-5))
print(type(5 / 2))
print(type(5 // 2))
print(type(5 == 2))
print(type(5 = 2))

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-21-902d08e02ea2>, line 8)

Ce sont les types de base du langage Python que nous allons étudier dans la suite. Notez que les nombres flottants s'écrivent avec un point et non avec une virgule.

2. Faites la même chose avec les expressions suivantes:

* `(5, 2)`
* `[5, 2]`
* `{5, 2}`

In [23]:
print (type((5, 2)))
print(type([5, 2]))
print(type({5, 2}))

<class 'tuple'>
<class 'list'>
<class 'set'>

Ce sont des types avancés, qui permettent de construire des structures de données plus complexes, que nous apprendrons à manipuler plus tard. Pouvez-vous trouver une expression ayant un autre type?  Vous pouvez consulter la [documentation Python sur les types](https://docs.python.org/fr/3/library/stdtypes.html).

3. Maintenant, affectez une valeur à une variable `x`, et écrivez le code qui affiche, par exemple, `le type de x est <class 'int'>` si jamais la valeur stockée dans `x` est un entier.

In [24]:
x = 2
print (type ((2)))

<class 'int'>


### 3.1 Type numérique entier

1. Affectez une valeur entière à une variable `v`.

In [26]:
v = 374

2. Ecrivez le résultat de la division entière de `v` par 11. Par exemple, si `v` vaut 149, le résultat affiché doit être de la forme:

`149 = 13 x 11 + 6`

In [28]:
v = 149
quotient = v // 11
reste = v % 11
resultat = f"{v} = {quotient} x 11 + {reste}"
print(resultat)

149 = 13 x 11 + 6

3. Prédisez le résultat des expressions suivantes, puis évaluer le code:
* `3 * (10 / 3)`
* `3 * (10 // 3)`
* `(3 * 10) // 3`

In [29]:
3 * (10 / 3)
3 * (10 // 3)
(3 * 10) // 3

10

5. Le résultat change-t'il si on retire les parenthèses des expressions précédentes?

réponse:


6. Affectez un nombre entier à une variable, puis écrivez une expression qui affiche `True` si la variable est paire et `False` sinon.

In [31]:
a = 20
b = a / 2
print (b)

10.0

7. L'opérateur puissance s'écrit `**`. Par exemple, 2 à la puissance 10 s'écrit `2 ** 10`. Affichez la valeur de 2 puissance 256. Combien de chiffres a ce nombre (en évitant de compter sur l'écran)?

In [32]:
2 ** 256

115792089237316195423570985008687907853269984665640564039457584007913129639936

Ecrire l'expression qui donne le dernier chiffre du nombre référencé par la variable `a`.

In [40]:
a = 2 ** 256
dernier_chiffre = a % 10
print(dernier_chiffre)

6

Ecrire l'expression qui donne l'avant-dernier chiffre du nombre référencé par la variable `a`.

In [44]:
a = 2 ** 256
avant_dernier_chiffre = (a // 10)%10
print(avant_dernier_chiffre)

3


### 3.2 Nombres flottants

1. L'expression `0.2 + 0.4` est-elle égale, supérieure ou inférieure à `0.6`?

In [45]:
0.2 + 0.4

0.6000000000000001

2. Affectez la valeur 0.5 à une variable `x`. Multipliez `x` par $2^{30}$ puis convertissez le résultat obtenu en valeur entière (utilisez la fonction `int()`) puis divisez le résultat par $2^{30}$ (faire une division flottante).

In [49]:
x = 0.5

In [50]:
resultat = x * 2 ** 30

In [51]:
entier = int (resultat)

In [52]:
final = entier / 2 ** 30

3. Remplacez la valeur de `x` par 0.1 et refaites le calcul.

### 3.3 Chaînes de caractères

1. Dans la cellule de code suivante, affichez le résultat de l'expression `a + b`, et de `b + a`

In [53]:
a = "hello"
b = 'world'
print (a, b)
print (b, a)

hello world
world hello

**Notes**: les chaînes de caractères peuvent s'écrire avec des guillemets simples ou doubles (d'autres formes existent). L'opération d'addition de chaînes est appelée *concaténation*.

2. Dans la cellule précédente, ajoutez un espace entre `hello` et `world` sans modifier les variables.

3. Avant d'afficher le résultat, prédire ce que valent `a * 3` et `(a + b) * 2`?

In [54]:
a * 3
(a + b) * 2

'helloworldhelloworld'

4. On peut appliquer des *méthodes* (ce sont des fonctions qui s'appliquent à un certain type d'objets) à une chaîne de caractères. Par exemple tester ce que vaut `a.upper()`.

In [55]:
a.upper()

'HELLO'

Vous pouvez voir la liste des méthodes associées aux chaînes de caractères (ainsi que sur les autres types natifs) sur [cette page](https://docs.python.org/fr/3/library/stdtypes.html#string-methods).

5. La variable `a` a-t'elle été modifiée?

In [61]:
a

'hello'

6. Que vaut `a > b`?

In [59]:
a > b

False

7. Quelle est la signification de cette comparaison?

### 3.4 Conversions

1. Dans la cellule de code suivante, devinez ce que vaut `a * 2` avant de l'afficher.

In [62]:
a = "32"
print(a * 2)

3232

2. Utilisez la fonction de conversion `int()` pour obtenir le résultat de la multiplication de nombres entiers (64 ici).

In [63]:
a = 8
b = 8
resultat = 8 * 8
entier = int(resultat)
print(entier)

64

3. Ecrivez l'expression `s = input("Tape quelquechose au clavier")` puis affichez `s`. Que se passe-t'il?

In [64]:
s = input("Tape quelque chose au clavier")
print(s)

Tape quelque chose au clavierenos
enos

4. Recopiez le code de la cellule précédente. L'utilisateur doit saisir un nombre entier puis vous affichez ce nombre multiplié par 2.

In [69]:
s = int(input("Rentre une valeur : "))
resultat = s * 2
print(" le resultat est multiplier par 2 : ", resultats)

Rentre une valeur : 2
 le resultat est multiplier par 2 :  4

5. ́Ecrivez le code qui demande son âge à l’utilisateur et répond en utilisant sa réponse au milieu d’une phrase, comme par exemple en lui donnant l’âge qu’il aura en 2031 le même jour.

In [71]:
s = int (input("quel âge as-tu ? "))
age_en_2031 = s + (2031 - 2024)
print ("En 2031 vous aurez ", age_en_2031, "ans le même jour")

quel âge as-tu ? 20
En 2031 vous aurez  27 ans le même jour

6. Avant de passer à la suite, sauvegardez votre notebook sur github.

---
## Exercices supplémentaires

1. Parmi les chaînes de caractères suivantes, lesquelles peuvent être des noms de variable?
* `f`
* `l`
* `f2`
* `2f`
* `totolehero`
* `toto_le_hero`
* `import`
* `toto2-le-retour`

Et parmi les noms corrects, lesquels ne sont pas recommandés (voir la [PEP8](https://www.python.org/dev/peps/pep-0008/#naming-conventions))?

2. Demandez à l'utilisateur de rentrer un nombre, puis afficher sa racine carrée en faisant une phrase.

3. Ecrivez le code qui affiche:
* la chaı̂ne ”aaaaaa...” (250 ”a”)
* la chaı̂ne ”bbbb....a” (250 ”b” suivis d’un ”a”)
* la chaı̂ne ”bbbb....aaabbb...” (250 ”b” suivis d’un ”a” suivi de 100 b)
* 50 fois ”bonjour” en allant à la ligne à chaque fois (utilisez ”\n”)

4. Evaluez chaque expression numérique étape par étape selon la priorité des opérateurs.
    * a) 3 + 4 * 6
    * b) 3 * 4 / 6 + 6
    * c) 2 * 3 / 12 * 8 / 4
    * d) 10 * ( 1 + 7 * 3 )
    * e) 20 - 2 / 6 + 3
    * f) ( 20 - 2 ) / ( 6 + 3 )
    * g) 10 + 15 % 2 + 4.3
    * h) 3 * 4 / 6 + 6

5. Saisir, Calculer et Afficher

    * (1) Ecrire un code qui permet de faire les tâches suivantes :
        * a) Saisir deux variables, a et b, de type entier.
        * b) Calculer la somme de ces deux variables.
        * c) Affecter le résultat dans la variable « Somme ».
        * d) Calculer le quotient de ces deux variables.
        * e) Affecter le résultat dans la variable « Quotient ».
        * f) Afficher les valeurs des variables « Somme » et « Quotient ». Le message doit être sous la forme suivante «La somme de 3 et 1 est 4 et le quotient de 3 sur 1 est 3 »
        
    * (2) Quel est le nombre total de variables utilisées pour cet algorithme ?
    
    * (3) On veut, maintenant, minimiser le nombre de variables utilisées par le code précédent.
        * a) Quel est le nombre maximal de variables qu’on peut supprimer ?
        * b) Quel est le nombre minimal de variables qu’on peut supprimer ?
        
    * (4) Ecrire le code correspondant à 3.a.

6. Ecrire un code qui permet de calculer le diamètre, le périmètre et la surface d’un cercle. Pour ce faire nous allons procéder comme suit :
        * a) Déclarer la variable constante 𝝅 et la variable Ray contenant la valeur 10.
        * b) Déclarer trois variables DM, PR et SR.
        * c) Affecter respectivement à DM, PR et SR les valeurs du diamètre, du périmètre et de la surface d’un cercle dont le rayon est Ray.
        * d) Afficher le message suivant "Le cercle de rayon AA a pour diamètre BB, pour périmètre CC et pour surface DD".